CLEVER_REACH_CLIENT_ID=your-client-id
CLEVER_REACH_CLIENT_SECRET=your-client-secret
CLEVER_REACH_TOKEN=your-access-token
CLEVER_REACH_API_BASE_URL=https://rest.cleverreach.com/v3
CLEVER_REACH_AUTH_URL=https://rest.cleverreach.com/oauth/token.php
CLEVER_REACH_DEBUG_USER_AGENT=CleverReach Ruby Gem Debug
